*{
    margin:0px;
    padding: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling:touch;
    -webkit-user-select: none;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.inner{
    width: 100%;
    height: 400%;
    position: absolute;
    top: -100%;
    perspective: 2000px;
}
#container{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    transform-style: preserve-3d;
    transform:rotateX(-20deg);
    animation: rotate 10s linear 1s infinite ;
    z-index: 10;

}
#container li{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 82.5px;
    height: 122.5px;
    margin-left: -82.5px;
    margin-top: -122.5px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(122,122,122,1);
}
#container li img{
    width: 100%;
    height: 100%;
}
li:nth-child(0)
{
    -webkit-transform: rotateY(0deg) translateZ(180px);
    /*-webkit-animation: jump 1s infinite;*/
}

li:nth-child(1)
{
    -webkit-transform: rotateY(40deg) translateZ(180px);
    /*-webkit-animation: jump 1s infinite ease-in-out;*/
}

li:nth-child(2)
{
    -webkit-transform: rotateY(80deg) translateZ(180px);
    /*-webkit-animation: jump 1s infinite ease-in-out;*/
}

li:nth-child(3)
{
    -webkit-transform: rotateY(120deg) translateZ(180px);
    /*-webkit-animation: jump 1s infinite ease-in-out;*/
}

li:nth-child(4)
{
    -webkit-transform: rotateY(160deg) translateZ(180px);
    /*-webkit-animation: jump 1s infinite ease-in-out;*/
}

li:nth-child(5)
{
    -webkit-transform: rotateY(200deg) translateZ(180px);
    /*-webkit-animation: jump 1s infinite ease-in-out;*/
}

li:nth-child(6)
{
    -webkit-transform: rotateY(240deg) translateZ(180px);
    /*-webkit-animation: jump 1s infinite ease-in-out;*/
}

li:nth-child(7)
{
    -webkit-transform: rotateY(280deg) translateZ(180px);
    /*-webkit-animation: jump 1s infinite ease-in-out;*/
}

li:nth-child(8)
{
    -webkit-transform: rotateY(320deg) translateZ(180px);
    /*-webkit-animation: jump 1s infinite ease-in-out;*/
}

li:nth-child(9)
{
    -webkit-transform: rotateY(360deg) translateZ(180px);
    /*-webkit-animation: jump 1s infinite ease-in-out;*/
}
@keyframes rotate {
    0%{
        transform: rotateX(-20deg) rotateY(0deg) translateY(0px);
    }
    25%{
        transform: rotateX(-20deg) rotateY(120deg) translateY(40px);
    }
    75%{
        transform: rotateX(-20deg) rotateY(240deg) translateY(-40px);
    }
    100%{
        transform: rotateX(-20deg) rotateY(360deg) translateY(0px);
    }
}

















.inner .item{
    position: relative;
    width: 100%;
    height: 25%;
}
.inner .item img{
    width: 100%;
    height: 100%
}


.inner .item:nth-child(3){
    background-color: #cccccc;
}


.inner .item:nth-child(3) .rotate{
    position: absolute;
    width: 54.6875%;
    height: 30.722222%;
    left: 22.65625%;
    top: 10.5%;
    opacity: 0;
    animation: Ro 4s ease-in-out infinite forwards;
}
@keyframes Ro {
    0%{
        transform: rotate(0deg);
        opacity: 0.3;
    }
    100%{
        transform: rotate(360deg);
        opacity: 1;
    }
}
.inner .item:nth-child(3) .title{
    position: absolute;
    width: 48.90625%;
    height: 28.051587%;
    left: 25.624999999999996%;
    top: 11.904761904761903%;
    opacity: 0;
    animation: RoOpacity 2s 1 forwards;
}
@keyframes RoOpacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.inner .item:nth-child(3) .rotate img,.inner .item:nth-child(3) .title img{
    width: 100%;
    height: 100%;
}
.inner .item:nth-child(3) span{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 45%;
    left: 25%;
    font-size: 24px;
}


.inner .item:nth-child(4) .left{
    position: absolute;
    left: 3%;
    top: 10%;
    width: 28.125%;
    height: 2.1825396825396823%;
}
.inner .item:nth-child(4) .right{
    position: absolute;
    right: 3%;
    top: 10%;
    width: 28.125%;
    height: 2.1825396825396823%;
}
.inner .item:nth-child(4) .back{
    position: absolute;
    left: 34%;
    top: 3%;
    width: 117.5px;
    height: 117.5px;
    transform: rotate(45deg);
    animation: Rot 2s infinite;;
}
.inner .item:nth-child(4) .front{
    position: absolute;
    left: 34%;
    top: 3%;
    width: 117.5px;
    height: 117.5px;
    transform:scale(0.7);
}
@keyframes Rot {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.inner .item:nth-child(4) .front span{
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 30px;
}
.inner .item:nth-child(4) .num1,.inner .item:nth-child(4) .num3,.inner .item:nth-child(4) .num5{
    position: absolute;
    width: 10.78125%;
    height: 4.464285714285714%;
    right: -45px;
}
.inner .item:nth-child(4) .num2,.inner .item:nth-child(4) .num4{
    position: absolute;
    width: 10.78125%;
    height: 4.464285714285714%;
    left: -45px;
}
.inner .item:nth-child(4) .leftShow{
    animation: showL 2s ease-in-out 1 forwards;
}
.inner .item:nth-child(4) .rightShow{
    animation: showR 2s ease-in-out 1 forwards;
}

.inner .item:nth-child(4) .num2{
    top:32.5%
}
.inner .item:nth-child(4) .num4{
    top:47.5%
}
.inner .item:nth-child(4) .num1{
    top: 25%;
}
.inner .item:nth-child(4) .num3{
    top: 40%;
}
.inner .item:nth-child(4) .num5{
    top: 55%;
}

@keyframes showL {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(-280px,0);
    }
}
@keyframes showR {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(280px,0);
    }
}


.inner .item:nth-child(5) .concat{
    position: absolute;
    top: 40%;
    left: 35%;
    opacity: 0;
    transform: scale(0.3) rotate(0deg);
}
.inner .item:nth-child(5) .scale{
    animation: concat 2s ease-in-out forwards;
}
@keyframes concat {
    0%{
        opacity: 0;
        transform: scale(0.3) rotate(0deg);
    }
    50%{
        opacity: 0.8;
        transform: scale(2.2) rotate(360deg);
    }
    100%{
        opacity: 1;
        transform: scale(1.4) rotate(0deg);
    }
}
.inner .item:nth-child(5) span.con{
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 25px;
    color: #ccc;
    opacity: 0;
    transform: scale(0.3) rotate(0deg);
    animation: concat 2s ease-in-out forwards;
}
.inner .item:nth-child(5) span.tel{
    position: absolute;
    top: 70%;
    left: -50px;
    font-size: 20px;
    opacity: 0;
    color: #ccc;
}
.inner .item:nth-child(5) span.telShow{
    animation: moveL 2s ease-in-out 1 forwards;
}
.inner .item:nth-child(5) span.email{
    position: absolute;
    top: 80%;
    right: -50px;
    font-size: 15px;
    opacity: 0;
    color: #ccc;
}
.inner .item:nth-child(5) span.emailShow{
    animation: moveR 2s ease-in-out 1 forwards;
}
@keyframes moveL {
    0%{
        opacity: 0;
        transform: translate(0,0);
    }
    100%{
        opacity: 1;
        transform: translate(160px,0);
    }
}
@keyframes moveR {
    0%{
        opacity: 0;
        transform: translate(0,0);
    }
    100%{
        opacity: 1;
        transform: translate(-120px,0);
    }
}






.inner .item::after{
    content: " ";
    position: absolute;
    width: 24px;
    height: 18px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20px;
    background: url("img/web-swipe-tip.png") no-repeat;
    background-size: 100% 100%;
    z-index: 200;
    animation: tipmove 1.5s infinite ease-in-out;
}
@keyframes tipmove {
    0%,100%{
        opacity: 1;
        transform: translate(0,0px);
    }
    50%{
        opacity: 0;
        transform: translate(0,10px);
    }
}

.tips{
    position: absolute;
    top: 40%;
    right: 3%;
}
.tips span{
    display: block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    margin: 7px 0;
    opacity: 0.5;
}
.tips span.select{
    background: #424242;
}













